@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
*{
    font-family: "Quicksand", "arial", "helvetica", "sans-serif";

    background-color: #ecebec;
}

/* 
CSS PARA O HEADER (NOME E LOGO)
*/

header {

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 7rem;

    
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; 
}

header h1 { 
    font-size: 4rem;
    font-weight: 600;

    color: #f5b141; 

    padding-right: 1rem;

}

header a{
    margin: 0;
}

.logo {
    padding-left: 1rem;
}

.back{
    width: 5%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 5%;
}

section h2{
    font-size: 2rem;

    background-color: #969696;
}
section ol{
    padding-top: 0.5rem;

    background-color: #969696;
}
section li{
    padding-top: 0.5rem;
    background-color: #969696;
}

section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;

    background-color: #969696;

    padding: 1rem;
}
.linha{
    display: flex;
    flex-direction: row;
    border: solid black 2px;
    border-radius: 1rem;
}
.linhaCoracao{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.coluna{
    display: flex;
    flex-direction: column;
    border: none;
}
p{
    background-color: #969696;
}
.coracao{
    background-color: #969696;
    flex-direction: unset;
    display: flex;
    border: none;
    width: 2rem;
    height: 2rem;
    
}

.check{
    width: 2rem;
    background-color: #969696;
}

.botao{
    padding: 0;
    background-color: #969696;
    border: none;
}